<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd">

    <!-- 指定Spring扫描组件的路径 -->
    <context:component-scan base-package="analysis.stock" />
    <!-- 使Spring能够识别@Scheduled -->
    <task:annotation-driven scheduler="crawlStockInfos" />
    <!-- 根据情况选择是否需要配置线程池 -->
    <task:scheduler id="crawlStockInfos" pool-size="10" />

</beans>