<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stockMapper">
    <!-- 查询股票代码 -->
    <select id="getStockCodes" parameterType="Map" resultType="analysis.stock.model.Stock">
        select stockCode from analysis_stock group by stockCode
    </select>
    <!-- 插入股票代码 -->
    <insert id="addStock" parameterType="analysis.stock.model.Stock">
        insert into stock (stockCode) values(#{stockCode})
    </insert>
</mapper>
