<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="analysis.stock.dao.StockInfoMapper">
    <!-- 根据股票代码查询股票信息 -->
    <select id="getStockInfoAsc" resultType="analysis.stock.model.StockInfo">
        select * from (select * from (select * from
        stock_analysis where
        stockCode = #{stockCode} and date &lt;= #{date} order by time desc) a group by a.date desc limit
        #{limit}) as s order by date asc
    </select>
    <!-- 根据股票代码查询股票信息 -->
    <select id="getStockInfoDesc" parameterType="Map" resultType="analysis.stock.model.StockInfo">
        select * from (select * from stock_analysis where
        stockCode = #{stockCode} and date &lt;= #{date} order by time desc) a group by a.date desc limit #{limit}
    </select>
</mapper>
